<div class="container" ng-init="init()">
  <h2>{{listData.name}}</h2>
  <div class="well">
    <h3>Items <i class="fa fa-plus" ng-click="addItem()" style="cursor:pointer;"></i></h3>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items">
            <td>{{item.item.name}}</td>
            <td>{{item.price}}</td>
            <td><i ng-click="editItem(item)" class="fa fa-pencil" style="cursor:pointer;"></i></td>
            <td><i ng-click="deleteItem(item)" class="fa fa-trash" style="cursor:pointer;"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id="itemModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{modalState}} Item</h3>
        </div>
        <div class="modal-body">
          <div ng-show="modalState !== 'Remove'" class="form-horizontal" role="form">
            <div class="form-group">
              <label for="item" class="col-sm-3 control-label">Item</label>
              <div class="col-sm-9">
                <input id="item" class="form-control" placeholder="Item" typeahead="item as item.name for item in getItems($viewValue)" typeahead-loading="loadingItems" ng-model='selectedItem.item'>
                <i ng-show="loadingItems" class="loadingInput fa fa-cog fa-spin"></i>
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="col-sm-3 control-label">Price</label>
              <div class="col-sm-9">
                <input id="price" class="form-control" placeholder="Price" ng-model='selectedItem.price'>
              </div>
            </div>
          </div>
          <div ng-show="modalState === 'Remove'">
            Are you sure you want to remove this item?
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" ng-click="ok()">{{modalState}}</button>
          <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
